@model GT_App.Models.TeeType

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>TeeType</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.FacilityId)
        </div>
        <div class="editor-field">
            @*<select id="ddlFacility"></select>*@
            @Html.DropDownList("FacilityId", string.Empty)
            @*@Html.DropDownListFor(model => model.FacilityId, new { @id = "ddlFacility" })*@
            @Html.ValidationMessageFor(model => model.FacilityId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CourseId, "Course")
        </div>
        <div class="editor-field">
            @*<select id="ddlCourse"></select>*@
            @Html.DropDownList("CourseId", String.Empty)
            @Html.ValidationMessageFor(model => model.CourseId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Slope)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Slope)
            @Html.ValidationMessageFor(model => model.Slope)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Rating)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Rating)
            @Html.ValidationMessageFor(model => model.Rating)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Gender)
        </div>
        <div class="editor-field">
            @Html.DropDownList("Gender", string.Empty)
            @Html.ValidationMessageFor(model => model.Gender)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script src="~/Scripts/TeeType.js"></script>
<script type="text/javascript">    

    $(function () {

        FillFacilityDropdown();
        $("#FacilityId").empty();
        $("#CourseId").empty();
        $('#FacilityId').change(FillCourseDropdown);

    });

</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
