@model GT_App.Models.TeeType

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>TeeType</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FacilityId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FacilityId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Course.Course_Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Course.Course_Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Slope)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Slope)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Rating)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Rating)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Gender)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Gender)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.TeeTypeId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
