@model GT_App.Models.Hole

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Hole</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FacilityId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FacilityId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CourseId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CourseId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TeeType.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TeeType.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Hole_Num)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Hole_Num)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Yardage)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Yardage)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Par)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Par)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Handicap)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Handicap)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.HoleId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
