@model GT_App.Models.RoundDetail

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>RoundDetail</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Round.RoundId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Round.RoundId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.HoleId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HoleId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Score)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Score)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Putts)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Putts)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.GIR)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.GIR)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FIR)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FIR)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
