@using GT_App.Models
@model GT_App.Models.Course

@{
    ViewBag.Title = "Create";
}

@{
    var session = new SessionObj();
}


<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Course</legend>
        @{
            session.FacilityId = Convert.ToInt32(Session["FacilityId"]);
        }
        @if (session.FacilityId != 0) {
            <div>FacilityId: @Session["FacilityId"] - @Session["FacilityName"]</div>
        }
        else
        {
            <div><select id="ddlFacilities"></select></div>
        }
        @*<div>FacilityId: @Session["FacilityId"] - @Session["FacilityName"]</div>*@
    <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Tees)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Tees)
            @Html.ValidationMessageFor(model => model.Tees)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Slope)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Slope)
            @Html.ValidationMessageFor(model => model.Slope)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Rating)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Rating)
            @Html.ValidationMessageFor(model => model.Rating)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Yardage)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Yardage)
            @Html.ValidationMessageFor(model => model.Yardage)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
